//------------------------------------------------------------------------------------------//
.btn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #e8e8e8;
  padding: 5px 10px;
  cursor: pointer;
}