//------------------------------------------------------------------------------------------//
.card {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid darken($mainTheme-color, 10%);
  &-head {
    background-color: #fdfdfd;
    background-color: $mainTheme-color;
    border-top: 5px solid darken($mainTheme-color, 10%);
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
  }
  &-content {
    padding: 10px;
  }
  &-control {
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.05); // background-color: #fbfbfb;
  }
  &.--noBorderTop {
    >.card-head {
      border-top: 0;
    }
  }
  &.--light {
    box-shadow: none;
    border: 1px solid #dedede;
    >.card-head {
      border-top: 0;
      font-size: 1rem;
      padding: 8px;
      background-color: #eaeaea;
      color: #565656;
      border-top: 0px solid #c1c1c1;
    }
  }
}