$inputField-height:35px !default;
$inputField-border-color:rgba(0, 0, 0, 0.35) !default;
$inputField-border-radius:3px !default;
//------------------------------------------------------------------------------------------//
@mixin input-style() {}
.inputFieldGroup{
  .inputField{
    margin-bottom: 10px;
  }
}
.inputField {
  display: flex;
  flex-direction: column;
  position: relative;
  >input,textarea {
    border-radius: $inputField-border-radius;
    border: 1px solid $inputField-border-color;
    color: $mainFont-color;
    
    padding: 5px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
    &:hover {
      box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.20);
      border: 1px solid rgb(143, 189, 228);
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.45);
      border: 1px solid rgb(120, 178, 224);
    } 
  }
  >input {
    height: $inputField-height;
  }
  >textarea{
    min-height: 100px;
  }
  &[class*="ico-"] {
    &::before {
      color: #6f6f6f;
      font-size: 1.5rem;
      left: 5px;
      position: absolute; // top: 32px;
      bottom: 4px;
    }
    >label {
      font-weight: 500;
    }
    >input {
      text-indent: 30px;
    }
  }
}

