//------------------------------------------------------------------------------------------//
[data-type='radio'],
[data-type='checkbox'] {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  line-height: normal;
  margin-bottom: rem(10px);
  padding-right: rem(15px);
  position: relative;
  >input {
    &[type='radio'],
    &[type='checkbox'] {
      appearance: none;
      height: 0px;
      width: 0px;
      +.text {
        display: inline-flex;
        position: relative;
        word-break: break-word;
        &::before {
          background-color: #fff;
          content: '';
          cursor: pointer;
          display: inline-flex;
          margin-right: rem(5px);
        }
      }
      &:focus {
        +.text {
          &::before {
            box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.45);
            border: 1px solid rgb(120, 178, 224);
          }
        }
      }
      &:checked {
        +.text {
          &::after {
            position: absolute;
          }
        }
      }
      &[required] {
        +.text {
          position: relative;
          display: inline-block;
          &::before {
            border-color: #000;
            background-color: #fff;
          }
        }
      }
    }
    &[type='checkbox'] {
      +.text {
        &::before {
          border-radius: (rem(5px));
          border: 1px solid #a5a5a5;
          height: rem(25px);
          min-width: rem(25px);
          width: rem(25px);
        }
      }
      &:checked {
        +.text {
          &::after {
            content: '';
            top: 2px;
            left: 8px;
            width: 7px;
            height: 15px;
            border-right: rem(5px) solid;
            border-bottom: rem(5px) solid;
            border-color: $mainTheme-color;
            transform: rotate(45deg);
          }
        }
      }
    }
    &[type='radio'] {
      +.text {
        &::before {
          width: rem(28px);
          height: rem(28px);
          min-width: rem(28px);
          border-radius: 100%;
          border: 1px solid #afafaf;
        }
      }
      &:checked {
        +.text {
          &::after {
            content: '';
            top: #{(rem(28px) * 20) / 100};
            left: #{((rem(28px) * 20) / 100)};
            width: #{(rem(28px) * 60) / 100};
            height: #{(rem(28px) * 60) / 100};
            background-color: $mainTheme-color;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

.radioCheckboxGroup {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: rem(15px);
}

.radioCheckbox-title {
  flex-basis: 100%;
  margin-bottom: rem(5px);
}