@import "../configs/variables/index";
@import "../mixins/index";
/* ------------------------------- */

.loginContent {
  align-items: center;
  background-color: $mainTheme-color;
  color: #ffffff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  $inputField-theme-color: $mainTheme-color;
  $inputField-label-color: #fff;
  $inputField-underLine-focus-color: #fff;
  $inputField-color: rgba(#000, .7);
  $inputField-icon-color: #fff;
  .inputField {
    margin-bottom: 10px;
    >label {
      color: rgba(#000, .5);
      margin-left: 15px;
    }
    >input {
      border: 1px solid #376f8a;
      border-radius: rem(100px);
      height: 40px;
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
      &:hover {
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
      }
      &:focus {
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
      }
    }
    &:before {
      left: 10px;
      bottom: 7px;
    }
  }
}

.loginForm {
  width: rem(300px);
  &-logo {
    margin-bottom: rem(40px);
    text-align: center;
    i {
      display: block;
      font-size: 3rem;
      margin-bottom: rem(5px);
    }
    label {
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: rem(3px);
      text-transform: uppercase;
    }
  }
  &-input {
    margin: rem(25px) 0;
  }
  &-btn {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: rem(100px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px rgba(#000, .5);
    color: #ffffff;
    height: initial;
    margin-bottom: rem(20px);
    overflow: hidden;
    padding: rem(8px);
    text-transform: uppercase;
    width: 100%;
    &:hover {
      background-color: rgba(#000, .4);
    }
    &:active {
      position: relative;
      top: 3px;
      box-shadow: 0px 0px rgba(#000, .5);
    }
  }
}