/* 
    Variables Font
----------------------------------------------
*/

// Main Font
// -------------------------------
$mainFont-bold-size:500!default;
$mainFont-color:#272727!default;
$main-icon-color:#000!default;
$mainFont-active-color:#00aee5!default;
$mainFont-line-height:normal!default;
$mainFont-name:'Kanit',
Roboto,
sukhumvit,
Arial,
Helvetica,
sans-serif!default;
// Main Font Icon
// -------------------------------
$mainFont-icon-name:'CFVC'!default;