// Variables Template
// -------------------------------

// $mainTheme-color:#ef8a83!default;
$mainTheme-color:#27a292!default;
$main-menu-color:#567d79 !default;



$main-icon-color:#455D7E !default;
$main-disabled-color:#9F9F9F !default;
$main-input-bg-color:#ffffff !default;

$main-status-error:#e34949 !default;
$main-body-bg-color:#fff !default;
$main-icon-color:#000!default;

$main-browser-context:16px !default;
$main-head-height:60px !default;
$main-radius:2px !default;
$main-box-shadow:0 1px 3px rgba(0, 0, 0, .15) !default;
$main-space:10px !default;
$main-border-column:1px solid rgba(0, 0, 0, 0.2) !default;

$patientProfile-owner-width:250px;
$patientProfile-card-header-height:51px;