@font-face {
  font-family: 'CFVC';
  src: url('fonts/CFVC.eot?88fwyw');
  src: url('fonts/CFVC.eot?88fwyw#iefix') format('embedded-opentype'), url('fonts/CFVC.ttf?88fwyw') format('truetype'), url('fonts/CFVC.woff?88fwyw') format('woff'), url('fonts/CFVC.svg?88fwyw#CFVC') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="ico-"],
i[class*="ico-"],
[class^="ico-"]::before,
[class*="ico-"]::before,
[class^="icoAf-"]::after,
[class*="icoAf-"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CFVC' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}