.ico-print:before {
  content: "\e947";
}
.ico-addShoppingCart:before {
  content: "\e942";
}
.ico-removeShoppingCart:before {
  content: "\e943";
}
.ico-shoppingBasket:before {
  content: "\e944";
}
.ico-shoppingCart:before {
  content: "\e945";
}
.ico-store:before {
  content: "\e946";
}
.ico-baht-filled:before {
  content: "\e93a";
}
.ico-baht-outlined:before {
  content: "\e93b";
}
.ico-baht:before {
  content: "\e93c";
}
.ico-invoice:before {
  content: "\e93d";
}
.ico-pay:before {
  content: "\e93e";
}
.ico-percent-filled:before {
  content: "\e93f";
}
.ico-percent-outlined:before {
  content: "\e940";
}
.ico-percent:before {
  content: "\e941";
}
.ico-clock::before {
  content: '\e939';
}
.ico-doctor::before {
  content: '\e937';
}

.ico-medical::before {
  content: '\e938';
}

.ico-medicalInfo::before {
  content: '\e936';
}

.ico-sendFolder::before {
  content: '\e92a';
}

.ico-sendFolder::before {
  content: '\e92a';
}

.ico-list::before {
  content: '\e92b';
}

.ico-home::before {
  content: '\e92c';
}

.ico-focus::before {
  content: '\e92d';
}

.ico-zoomFocus::before {
  content: '\e92e';
}

.ico-description::before {
  content: '\e92f';
}

.ico-bookmark::before {
  content: '\e930';
}

.ico-send::before {
  content: '\e931';
}

.ico-photoLibrary::before {
  content: '\e932';
}

.ico-camera::before {
  content: '\e933';
}

.ico-photo::before {
  content: '\e934';
}

.ico-fileUpload::before {
  content: '\e935';
}

.ico-accountProfile::before {
  content: '\e928';
}

.ico-closeCircle::before {
  content: '\e929';
}

.ico-checkCircle::before {
  content: '\e924';
}

.ico-helpCircle::before {
  content: '\e925';
}

.ico-infoCircle::before {
  content: '\e926';
}

.ico-close::before {
  content: '\e927';
}

.ico-addPhoto::before {
  content: '\e913';
}

.ico-check::before {
  content: '\e914';
}

.ico-chevronLeft::before {
  content: '\e915';
}

.ico-chevronRight::before {
  content: '\e916';
}

.ico-expandLess::before {
  content: '\e917';
}

.ico-expandMore::before {
  content: '\e918';
}

.ico-firstPage::before {
  content: '\e919';
}

.ico-lastPage::before {
  content: '\e91a';
}

.ico-localPhone::before {
  content: '\e91b';
}

.ico-mail::before {
  content: '\e91c';
}

.ico-dotVert::before {
  content: '\e91d';
}

.ico-dotHoriz::before {
  content: '\e91e';
}

.ico-checkBoard::before {
  content: '\e91f';
}

.ico-addLocation::before {
  content: '\e920';
}

.ico-checkEgis::before {
  content: '\e921';
}

.ico-inbox::before {
  content: '\e922';
}

.ico-clearCircle::before {
  content: '\e923';
}

.ico-listPaper::before {
  content: '\e911';
}

.ico-arrowZoom::before {
  content: '\e912';
}

.ico-logoSystem::before {
  content: '\e910';
}

.ico-accountCircle::before {
  content: '\e900';
}

.ico-accountOutline::before {
  content: '\e901';
}

.ico-accounts::before {
  content: '\e902';
}

.ico-addCircle::before {
  content: '\e903';
}

.ico-calendarToday::before {
  content: '\e904';
}

.ico-dateRange::before {
  content: '\e905';
}

.ico-exit::before {
  content: '\e906';
}

.ico-keyLock::before {
  content: '\e907';
}

.ico-keyLockOutline::before {
  content: '\e908';
}

.ico-penLine::before {
  content: '\e909';
}

.ico-pets::before {
  content: '\e90a';
}

.ico-refresh::before {
  content: '\e90b';
}

.ico-save::before {
  content: '\e90c';
}

.ico-search::before {
  content: '\e90d';
}

.ico-skull::before {
  content: '\e90e';
}

.ico-trash::before {
  content: '\e90f';
}