.icoAf-addShoppingCart:before {
  content: "\e942";
}
.icoAf-removeShoppingCart:before {
  content: "\e943";
}
.icoAf-shoppingBasket:before {
  content: "\e944";
}
.icoAf-shoppingCart:before {
  content: "\e945";
}
.icoAf-store:before {
  content: "\e946";
}
.icoAf-baht-filled:before {
  content: "\e93a";
}
.icoAf-baht-outlined:before {
  content: "\e93b";
}
.icoAf-baht:before {
  content: "\e93c";
}
.icoAf-invoice:before {
  content: "\e93d";
}
.icoAf-pay:before {
  content: "\e93e";
}
.icoAf-percent-filled:before {
  content: "\e93f";
}
.icoAf-percent-outlined:before {
  content: "\e940";
}
.icoAf-percent:before {
  content: "\e941";
}
.icoAf-clock::after {
  content: '\e939';
}

.icoAf-doctor::after {
  content: '\e937';
}

.icoAf-medical::after {
  content: '\e938';
}

.icoAf-medicalInfo::after {
  content: '\e936';
}

.icoAf-sendFolder::after {
  content: '\e92a';
}

.icoAf-list::after {
  content: '\e92b';
}

.icoAf-home::after {
  content: '\e92c';
}

.icoAf-focus::after {
  content: '\e92d';
}

.icoAf-zoomFocus::after {
  content: '\e92e';
}

.icoAf-description::after {
  content: '\e92f';
}

.icoAf-bookmark::after {
  content: '\e930';
}

.icoAf-send::after {
  content: '\e931';
}

.icoAf-photoLibrary::after {
  content: '\e932';
}

.icoAf-camera::after {
  content: '\e933';
}

.icoAf-photo::after {
  content: '\e934';
}

.icoAf-fileUpload::after {
  content: '\e935';
}

.icoAf-accountProfile::after {
  content: '\e928';
}

.icoAf-closeCircle::after {
  content: '\e929';
}

.icoAf-checkCircle::after {
  content: '\e924';
}

.icoAf-helpCircle::after {
  content: '\e925';
}

.icoAf-infoCircle::after {
  content: '\e926';
}

.icoAf-close::after {
  content: '\e927';
}

.icoAf-addPhoto::after {
  content: '\e913';
}

.icoAf-check::after {
  content: '\e914';
}

.icoAf-chevronLeft::after {
  content: '\e915';
}

.icoAf-chevronRight::after {
  content: '\e916';
}

.icoAf-expandLess::after {
  content: '\e917';
}

.icoAf-expandMore::after {
  content: '\e918';
}

.icoAf-firstPage::after {
  content: '\e919';
}

.icoAf-lastPage::after {
  content: '\e91a';
}

.icoAf-localPhone::after {
  content: '\e91b';
}

.icoAf-mail::after {
  content: '\e91c';
}

.icoAf-dotVert::after {
  content: '\e91d';
}

.icoAf-dotHoriz::after {
  content: '\e91e';
}

.icoAf-checkBoard::after {
  content: '\e91f';
}

.icoAf-addLocation::after {
  content: '\e920';
}

.icoAf-checkEgis::after {
  content: '\e921';
}

.icoAf-inbox::after {
  content: '\e922';
}

.icoAf-clearCircle::after {
  content: '\e923';
}

.icoAf-listPaper::after {
  content: '\e911';
}

.icoAf-arrowZoom::after {
  content: '\e912';
}

.icoAf-logoSystem::after {
  content: '\e910';
}

.icoAf-accountCircle::after {
  content: '\e900';
}

.icoAf-accountOutline::after {
  content: '\e901';
}

.icoAf-accounts::after {
  content: '\e902';
}

.icoAf-addCircle::after {
  content: '\e903';
}

.icoAf-calendarToday::after {
  content: '\e904';
}

.icoAf-dateRange::after {
  content: '\e905';
}

.icoAf-exit::after {
  content: '\e906';
}

.icoAf-keyLock::after {
  content: '\e907';
}

.icoAf-keyLockOutline::after {
  content: '\e908';
}

.icoAf-penLine::after {
  content: '\e909';
}

.icoAf-pets::after {
  content: '\e90a';
}

.icoAf-refresh::after {
  content: '\e90b';
}

.icoAf-save::after {
  content: '\e90c';
}

.icoAf-search::after {
  content: '\e90d';
}

.icoAf-skull::after {
  content: '\e90e';
}

.icoAf-trash::after {
  content: '\e90f';
}