@import 'cssReset';
@import '../fonts/_index.css';
@import 'configs/variables/index';
@import 'mixins/index';
@import 'components/index';
$mainContent-width: 100vw;
* {}

html,
body {
  @include main-font-style;
  background-color: $main-body-bg-color;
  overscroll-behavior-y: none;
}

._show {
  display: block !important;
  &Flex {
    display: flex !important;
  }
  &Inline {
    &Block {
      display: inline-block !important;
    }
    &Flex {
      display: inline-flex !important;
    }
  }
}

._hide {
  display: none !important;
}

.containerApp {}

.mainContent {
  display: flex;
  width: $mainContent-width;
  margin: auto;
  &.--body {
    height: calc(100vh - #{rem($main-head-height)});
  }
}

.mainHeader {
  display: flex;
  flex-direction: row;
  height: rem($main-head-height);
  background-color: $mainTheme-color;
  align-items: center;
  color: #ffffff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
  >* {
    padding: rem($main-space);
  }
  &::before,
  &::after {
    content: '';
    width: calc((100vw - #{$mainContent-width}) / 2);
    height: 100%;
  }
  &-logo {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    >i {
      font-size: 2em;
    }
    >label {
      font-size: 1.2em;
      padding-left: em(10px);
    }
  }
  &-textStatus {
    flex: 1;
    text-align: right;
  }
  &-logout {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: rem(5px) rem(10px);
    transition: background-color linear .3s;
    >i {
      font-size: 1.8em;
    }
    >label {
      cursor: pointer;
      font-size: 0.85rem;
      line-height: 1em;
      text-transform: capitalize;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
      transition: background-color linear .3s;
    }
  }
}

// main menu app
.mainMenu {
  flex-basis: rem(200px);
  min-width: rem(200px);
  background-color: $main-menu-color;
  >ul {
    >li {
      align-items: center;
      background-color: rgba(0, 0%, 0%, 0);
      border-bottom: 1px solid rgba(0, 0%, 0%, 0.05);
      color: #ffffff;
      cursor: pointer;
      display: flex;
      height: rem(50px);
      justify-content: flex-start;
      padding: rem($main-space);
      position: relative;
      @include transition-multi(background-color);
      &:hover {
        background-color: rgba(0, 0%, 0%, 0.05);
      }
      >i {
        color: #ffffff;
        font-size: 1.5rem;
        position: relative;
        z-index: 1
      }
      >label {
        margin-left: rem($main-space);
      }
      &.--active {
        background-color: rgba(0, 0%, 0%, 0.2);
      }
    }
  }
}

.mainDetail {
  flex: 1;
  display: flex;
  padding: rem($main-space);
  flex-direction: row;
}

.groupInfo {
  width: 300px;
  &-list {
    .card-content {
      padding: 0;
    }
    .listItem {
      border-bottom: 1px solid #dcdcdc;
      padding: 8px 10px;
      cursor: pointer;
    }
    .card-control {
      border: none;
      box-shadow: none;
      >.btn {
        width: 100%;
      }
    }
  }
}

.groupForm {
  flex: 1;
  padding-left: 10px;
}

.card.userGroup {
  >.card-content {
    display: flex;
    .userGroup {
      &-available,
      &-chosen {
        flex: 1;
      }
      &-available {}
      &-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        >.btn {
          margin: 5px;
        }
      }
      &-chosen {}
    }
    .card-content {
      padding: 0;
      .listItem {
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid rgba(#000, .2);
        &:last-child{
          border-bottom:0;
        }
      }
    }
  }
}