// Calculator PX to EM
// -------------------------------
@function em($pixels, $context: $main-browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

// Calculator PX to REM
// -------------------------------
@function rem($pixels, $context: $main-browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// Calculator REM to PX
// -------------------------------
@function px($rems, $context: $main-browser-context) {
  @if (unitless($rems)) {
    $rems: $rems * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $rems * $context;
}

// Calculator Space in 100%
// -------------------------------
@function space($size, $space-count, $space: $main-space) {
  @return calc((100% - #{(rem($space) * $space-count)}) / 10 * #{$size});
}
