@mixin flexLayout-column($flex-space:$main-space) {
  display: flex;
  flex-direction: row;
  >* {
    padding: 0 rem($flex-space);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    &:last-of-type {
      border-right: 0;
    }
  }
}