/* 
    Mixins Fonts
----------------------------------------------
*/

@mixin font-smoot() {
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-style() {
  color: $main-icon-color;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  @include font-smoot();
}

@mixin font-icon() {
  font-family: $mainFont-icon-name;
  @include icon-style();
}

// Main font
// -------------------------------
@mixin main-font-style {
  color: $mainFont-color;
  font-family: $mainFont-name;
  font-size: $main-browser-context;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  @include font-smoot();
}

// Set a rem font size with pixel fallback
// -------------------------------
@mixin font-size-px($size) {
  font-size: #{$size}px;
  font-size: rem($size);
}

// Set a pixel font size with rem fallback
// -------------------------------
@mixin font-size-rem($rems) {
  font-size: px($rems);
  font-size: #{$rems}rem;
}