/* 
    Mixins scrollbar style
----------------------------------------------
*/

@mixin scrollbar($scrollbar-width:$scrollbar-width, $scrollbar-height:$scrollbar-height, $scrollbar-track-color:$scrollbar-track-color, $scrollbar-radius:$scrollbar-radius, $scrollbar-thumb-color:$scrollbar-thumb-color) {
  @include prefix-at-root('::-webkit-scrollbar') {
    width: $scrollbar-width;
    height: $scrollbar-height;
  }
  @include prefix-at-root('::-webkit-scrollbar-track') {
    background: $scrollbar-track-color;
    @include border-radius($scrollbar-radius);
  }
  @include prefix-at-root('::-webkit-scrollbar-track:hover') {
    background: $scrollbar-track-color;
  }
  @include prefix-at-root('::-webkit-scrollbar-thumb') {
    background-color: $scrollbar-thumb-color;
    @include border-radius($scrollbar-radius);
  }
  @include prefix-at-root('::-webkit-scrollbar-thumb:hover') {
    background-color: darken($scrollbar-thumb-color, 10%);
  }
}

@mixin scrollbarBoxShadow {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: 2;
    background-color: #ccc;
  }
  &::before {
    top: 0;
    box-shadow: 0px 1px 5px #a8a8a8;
  }
  &::after {
    bottom: 0;
    box-shadow: 0px -1px 5px #a8a8a8;
  }
}

// ::-webkit-scrollbar {
//     width: $scrollbar-width;
//     height: $scrollbar-height;
// }
//  ::-webkit-scrollbar-track {
//     background: $scrollbar-track-color;
//     @include border-radius($scrollbar-radius);
// }
//  ::-webkit-scrollbar-track:hover {
//     background: $scrollbar-track-color;
// }
//  ::-webkit-scrollbar-thumb {
//     background-color: $scrollbar-thumb-color;
//     @include border-radius($scrollbar-radius);
// }
//  ::-webkit-scrollbar-thumb:hover {
//     background-color: darken($scrollbar-thumb-color, 10%);
// }