@mixin transition-multi($property...) {
  $all: ();
  @for $i from 1 through length($property) {
    $all: append($all, append(nth($property, $i), linear 0.2s), comma);
  }
  transition : $all;
}

@mixin transition($transition...) {
  transition: $transition;
}

@mixin transition-property($property...) {
  transition-property: $property;
}

@mixin transition-duration($duration...) {
  transition-property: $duration;
}

@mixin transition-timing-function($timing...) {
  transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
  transition-delay: $delay;
}